<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span> - {{domain}} - {{#if author}}

                                                                    <a href="author/{{author}}">{{author}}</a>
                                                                          {{else}}
                                                                          Anonymous
                                                                      {{/if}}

      </span></h3>
    </div>
      <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>